<?xml version="1.0"?>
<configuration>
	<!-- Configuration Sections -->
	<configSections>
		<section name="PDSAAppConfig" type="PDSA.WinForms.PDSAAppConfig, PDSAWinForms" />
		<section name="WinAppConfig" type="DoorsPOS.Utility.WinAppConfig, DoorsPOS.Utility" />
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler, Microsoft.ApplicationBlocks.ExceptionManagement" />
		<section name="PDSADataProviders" type="PDSA.DataLayer.Configuration.PDSADataSectionHandler, PDSA.DataLayer" />
	</configSections>
	<!--Haystack Specific - Start-->
	<PDSADataProviders>
		<providers defaultProvider="SqlClient">
			<add providerName="SqlClient" useStoredProcedures="false" useDBAuditTracking="true" DBLanguage="en-US" DBDateFormat="yyyy-MM-dd HH:mm:ss" connectStringName="SqlClient" type="PDSA.DataLayer.Providers.PDSADataSqlClient" assembly="PDSA.DataLayer,Culture=neutral" />
			<add providerName="OracleClient" DBLanguage="en-US" DBDateFormat="yyyy-MM-dd HH:mm:ss" useStoredProcedures="false" useDBAuditTracking="false" connectStringName="OracleClient" type="PDSA.DataLayer.Providers.PDSADataOracleClient" assembly="PDSA.DataLayer.OracleClient,Culture=neutral" />
		</providers>
	</PDSADataProviders>
	<connectionStrings>
		<add name="SqlClient" connectionString="Server=DOORSCOMPUTERS\SQLEXPRESS;Database=DoorsPOS;Integrated Security=Yes" />
		<add name="OracleClient" connectionString="Data Source=oratest;User ID=user;Password=password;" />
		<add name="DoorsPOS.WinApp.My.MySettings.doorsposConnectionString"
			connectionString="Data Source=DOORSCOMPUTERS\SQLEXPRESS;Initial Catalog=doorspos;Integrated Security=True "
			providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="Server=DOORSCOMPUTERS\SQLEXPRESS;Database=DoorsPOS;Integrated Security=Yes"/>
	</connectionStrings>
  <appSettings>
    <add key="DALConnectionStringName" value="ApplicationServices"/>
    <add key="DALProviderType" value="SqlServerProvider"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
	<!--Haystack Specific - End-->
	<!-- Sample Application Settings -->
	<WinAppConfig>
		<!-- *** PUT YOUR CUSTOM VALUES HERE *** -->
		<!-- Sample Value, You can Change this one. -->
		<add key="LastAudit" value="300022" />
		<add key="LastCustomer" value="93939" />

		<!-- Your own Connection String for another Data Source -->
		<add key="ConnectStringData" value="" />
		<!-- *** END OF YOUR CUSTOM VALUES *** -->
		<!-- ****** THE FOLLOWING SETTINGS ARE REQUIRED ****** -->
		<!-- Use Registry -->
		<add key="UseRegistry" value="False" />
		<!-- Registry Key -->
		<add key="RegistryConfigKey" value="" />
		<!-- Use XML File -->
		<add key="UseXMLFile" value="False" />
		<!-- XML File Path and Name -->
		<add key="XMLConfigFile" value="" />
		<!-- Are Settings Encrypted? -->
		<add key="AllEncrypted" value="False" />
		<!-- ****** END OF REQUIRED SETTINGS ****** -->
	</WinAppConfig>
	<!-- Exception Management Settings -->
	<exceptionManagement>
		<!-- Default Publisher (Event Log) -->
		<!-- NOTE: logName is name of app, applicationName is name of Log -->
		<publisher mode="Off" logName="ExceptionSample" applicationName="Application" assembly="Microsoft.ApplicationBlocks.ExceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.DefaultPublisher" />
		<!-- Publishes to Database -->
		<publisher mode="On" assembly="PDSAException" type="PDSA.Exception.ExceptionToDB" />
		<!-- Publishes to EMail -->
		<publisher mode="Off" assembly="PDSAException" type="PDSA.Exception.ExceptionToEMail" FromEMail="Errors@YourCompany.com" ToEMail="Errors@YourCompany.com" SMTPServer="192.168.10.39" Subject="Exception from VB.NET Application" />
		<!-- Publishes to File, Leave FileName blank to use <EXEName>.log as the file name 
		 Set FileName="APPPATH" to write to current directory -->
		<publisher mode="Off" assembly="PDSAException" type="PDSA.Exception.ExceptionToFile" FileName="" />
	</exceptionManagement>
	<!-- PDSA APPLICATION SPECIFIC SETTINGS -->
	<PDSAAppConfig>
		<!-- ****************************************************** -->
		<!-- **** PDSA REQUIRED ENTRIES                        **** -->
		<!-- **** The following items must be in this section  **** -->
		<!-- **** Unless you override them in Code             **** -->
		<!-- ****************************************************** -->
		<!-- FrameWork Version -->
		<add key="FrameworkVersion" value="4.2" />
		<!-- App Name in pdsaAppConfig to Load-->
		<add key="AppName" value="DoorsPOS" />
		<!-- App Type: Valid values are "Web" or "Win" -->
		<add key="AppType" value="Win" />
		<!-- Use pdsaAppConfig Table -->
		<add key="UseAppConfigTable" value="False" />
		<!-- App Config Connection String -->
		<add key="ConnectStringAppConfig" value="" />
		<!-- Use Registry -->
		<add key="UseRegistry" value="False" />
		<!-- Registry Key -->
		<add key="RegistryConfigKey" value="" />
		<!-- Use Registry Just for Connection Strings -->
		<add key="UseRegistryForConnectStrings" value="False" />
		<!-- Registry Key For Connect Strings -->
		<add key="RegistryConfigKeyForConnectStrings" value="" />
		<!-- Use XML File -->
		<add key="UseXMLFile" value="False" />
		<!-- XML File Path and Name -->
		<add key="XMLConfigFile" value="" />
		<!-- Set to True if you have Encrypted all the Connection Strings -->
		<add key="ConnectStringsEncrypted" value="False" />
		<!-- Set to the Encryption type used for the Connection Strings
				 Valid values are "PDSA0", "PDSA1", "PDSA2", "PDSA3" or "PDSA4" -->
		<add key="ConnectStringsEncryptionType" value="" />
		<!-- (True/False) Use stored procedures to access PDSA tables -->
		<add key="UseStoredProcs" value="False" />
		<!-- Encryption Key and IV XML File Location
				 Leave this blank if using This Config file or Table -->
		<add key="EncKeyXMLFile" value="" />
		<!-- Encryption Key and IV Registry Location
				 Leave this blank if using Config file or Table -->
		<add key="EncKeyRegKey" value="" />
		<!-- ********************************************************* -->
		<!-- *** END OF REQUIRED SECTION                       ******* -->
		<!-- ********************************************************* -->
		<!-- *** If you SET "UseAppConfigTable=True" or 
						 "UseRegistry=True" or "UseXMLFile=True" above, 
						 You DO NOT NEED the rest of the entries below  ****** -->
		<!-- ********************************************************* -->
		<!-- ******* Connection String Entries *********************** -->
		<!-- ********************************************************* -->
		<!-- Main Database Connection String -->
		<add key="ConnectString" value="Server=DOORSCOMPUTERS\SQLEXPRESS;Database=DoorsPOS;Integrated Security=Yes; Connection Timeout=150" />
		<!-- PDSA Tables Connection String. 
				 You can use this one if you are storing all PDSA tables in one database, 
				 otherwise, use the individual strings below -->
		<add key="ConnectStringPDSATables" value="Server=DOORSCOMPUTERS\SQLEXPRESS;Database=DoorsPOS;Integrated Security=Yes" />
		<!-- Security Database Connection String 
					Leave this blank to use "ConnectString" if "ConnectStringPDSATables" is blank  -->
		<add key="ConnectStringSecurity" value="" />
		<!-- User Tracking Table Database Connection String 
					Leave this blank to use "ConnectString" if "ConnectStringPDSATables" is blank  -->
		<add key="ConnectStringUserTrack" value="" />
		<!-- Event Logging Table Database Connection String 
					Leave this blank to use "ConnectString" if "ConnectStringPDSATables" is blank  -->
		<add key="ConnectStringEventLogging" value="" />
		<!-- Serialized Objects Table Database Connection String 
					Leave this blank to use "ConnectString" if "ConnectStringPDSATables" is blank  -->
		<add key="ConnectStringSerialized" value="" />
		<!-- Error Logging Table Database Connection String 
					Leave this blank to use "ConnectString" if "ConnectStringPDSATables" is blank  -->
		<add key="ConnectStringErrorLogging" value="" />
		<!-- WebMenus Table Database Connection String 
					Leave this blank to use "ConnectString" if "ConnectStringPDSATables" is blank  -->
		<add key="ConnectStringWebMenus" value="" />
		<!-- WebForms Table Database Connection String 
					Leave this blank to use "ConnectString" if "ConnectStringPDSATables" is blank  -->
		<add key="ConnectStringWebForms" value="" />
		<!-- WinForms Table Database Connection String 
					Leave this blank to use "ConnectString" if "ConnectStringPDSATables" is blank  -->
		<add key="ConnectStringWinForms" value="" />
		<!--  ******************************************************** -->
		<!--  ******* Application Wide Settings ********************** -->
		<!--  ******************************************************** -->
		<!-- App Title -->
		<add key="AppTitle" value="DoorsPOS" />
		<!-- SMTP Server for Sending EMails -->
		<add key="SMTPServer" value="192.168.10.39" />
		<!-- Application Timeout Value (Set in Minutes) In ASP.NET this value is set to the same value as the Session.Timeout. In Windows Forms Applications, set this to timeout a user in the application -->
		<add key="AppTimeout" value="20" />
		<!-- Administration Mode - For viewing all users, menus, etc. by Application -->
		<add key="AdminMode" value="False" />
		<!-- Use Application Name in Users Table -->
		<add key="UseAppNameForUsers" value="True" />
		<!-- Machine Name: Can either be set here, or it will be set from Environment.MachineName -->
		<add key="MachineName" value="" />
		<!-- Raise Errors Up To Application Block? -->
		<add key="RaiseErrorToAppBlock" value="True" />
		<!-- Database Language -->
		<add key="DBLanguage" value="en-US" />
		<!-- Database Date Format -->
		<add key="DBDateFormat" value="yyyy-MM-dd HH:mm:ss" />
		<!--  ********************************************************* -->
		<!--  ******* Security Related Entries ************************ -->
		<!--  ********************************************************* -->
		<!-- (True/False) Use PDSA Security System? -->
		<add key="UsePDSASecurity" value="True" />
		<!-- (True/False) Use NT Authentication -->
		<add key="LoginUseNTAuthentication" value="False" />
		<!-- (True/False) Check Controls on Forms for Security by using pdsaSecurityControls Table -->
		<add key="CheckControlsOnForms" value="True" />
		<!-- (True/False) Set UserTracking in Each Screen On/Off? -->
		<add key="UserTracking" value="True" />
		<!-- (True/False) Display the Login Screen?
				 NOT USED IN WEB APPLICATIONS -->
		<add key="LoginScreen" value="True" />
		<!-- (True/False) Check User Table? -->
		<add key="LoginCheckUserTable" value="True" />
		<!-- (True/False) Display Users from User Table? 
				 NOT USED IN WEB APPLICATIONS -->
		<add key="LoginDisplayUsers" value="True" />
		<!-- (True/False) Use Email as Login ID? -->
		<add key="LoginUseEmailAsLogin" value="False" />
		<!-- (True/False) Update Last Access Date in UserLoginCheck table on each Page Call -->
		<add key="WriteToUserLoginCheckTable" value="True" />
		<!-- (True/False) Display Security Question? -->
		<add key="DisplaySecurityQuestion" value="True" />
		<!-- (True/False) Require Security Question? -->
		<add key="RequireSecurityQuestion" value="True" />
		<!-- (True/False) Track Unsuccessful Login Attempts? -->
		<add key="LoginAttemptTracking" value="True" />
		<!-- (True/False) Track changes made to any Admin Tables? -->
		<add key="LogAdminChanges" value="False" />
		<!-- (True/False) Audit Tracking on "pdsa" Tables? -->
		<add key="PDSAAuditTracking" value="true" />
		<!--  ********************************************************* -->
		<!--  ******* Password Settings ******************************* -->
		<!--  ********************************************************* -->
		<!-- Default User Password -->
		<add key="DefaultPassword" value="1" />
		<!-- (True/False) Is Password Required? -->
		<add key="PwdRequired" value="True" />
		<!-- The Hash Algorithm used for Passwords 
				 Valid values are "PDSA", "MD5", "SHA1", 
				 "SHA256", "SHA384", "SHA512" -->
		<add key="PwdHashType" value="SHA1" />
		<!-- The Encryption Algorithm used for Passwords 
				 Valid values are "PDSA0", "PDSA1", "PDSA2", "PDSA3" -->
		<add key="PwdEncType" value="" />
		<!-- (True/False) Use Salt for Password? -->
		<add key="PwdUseSalt" value="True" />
		<!-- (True/False) Enforce Strong Password? -->
		<add key="PwdStrong" value="False" />
		<!-- (True/False) Password can be emailed? -->
		<add key="PwdCanBeEmailed" value="True" />
		<!-- (0, or #) Days until Password expires -->
		<add key="PwdChangeDays" value="0" />
		<!-- (True/False) Force to change password if user password matches default password -->
		<add key="PwdForceChange" value="False" />
		<!-- Minimum size of password -->
		<add key="PwdMinLength" value="4" />
		<!-- Maximum length of password -->
		<add key="PwdMaxLength" value="16" />
		<!-- Number of old passwords to keep track of -->
		<add key="PwdKeepTrackNum" value="0" />
		<!--  ********************************************************* -->
		<!--  ******* Login Page Customization Settings *************** -->
		<!--  ********************************************************* -->
		<!-- Text for Login Label -->
		<add key="LoginLoginLabel" value="Enter your Login ID" />
		<!-- Text for Password Label -->
		<add key="LoginPasswordLabel" value="Enter Password" />
		<!-- Login Minimum Size -->
		<add key="LoginMinLength" value="4" />
		<!-- Login Maximum Size -->
		<add key="LoginMaxLength" value="50" />
		<!-- (True/False) If Y, then after "LoginTries", set User Locked out flag in pdsaUsers table -->
		<add key="LoginLockOut" value="False" />
		<!-- The number of tries to allow user to login -->
		<add key="LoginTries" value="3" />
		<!-- A message to display on invalid login, if not filled in, then we will display what is wrong -->
		<add key="LoginInvalidMsg" value="" />
		<!-- (True/False) Display "Remember me" Check Box -->
		<add key="DisplayRememberMe" value="False" />
		<!-- (True/False) Display "Forgot Password" Link -->
		<add key="DisplayForgotPassword" value="True" />
		<!--  ********************************************************* -->
		<!--  ******* END: Login Page Customization Entries *********** -->
		<!--  ********************************************************* -->
	</PDSAAppConfig>
	<!-- ********************************************** -->
	<!-- ******************************************************************* -->
	<!-- **** Location for .NET to Search for Additional Assemblies ******** -->
	<!-- ******************************************************************* -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="..\PDSAAssemblies" />
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>
